[Unit]
Description=Serveo TCP 22
After=sshd.service

[Service]
ExecStart=/usr/bin/ssh -R Alistairs-Autonomous-Astro-Artisan:22:localhost:22 serveo.net
Restart=always
User=alistair

[Install]
WantedBy=multi-user.target
